@sim-width: 1200px;
@sim-height: 860px;
@main-width: 795px;
@main-height: 600px;

@right-col-width: 395px;
@column-gap: 10px;
@small-panel-vertical-space: 4px;
@small-panel-height: @main-height / 2 - @small-panel-vertical-space;

@sim-width-narrow: 900px;
@sim-height-narrow:700px;
@main-width-narrow: 540px;
@main-height-narrow: 475px;

@column-gap-narrow: 3px;
@right-col-width-narrow: @sim-width-narrow - @main-width-narrow - @column-gap-narrow;
@small-panel-vertical-space-narrow: 1px;
@small-panel-height-narrow: @main-height-narrow / 2 - @small-panel-vertical-space-narrow;

.seasons-container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: @sim-width;
    height: @sim-height;
    overflow: auto;
    .overlay{
      &.hidden{
        transition-delay: 2s, 2s;
      }
    }
    .grasp-seasons {
      position: absolute;

      &.main {
        top: 0px;
        left: 0px;
        font-size: 18px;
        width: @main-width;
        height: @main-height;
      }

      &.small-top {
        top: 0px;
        left: @main-width + @column-gap;
        width: @right-col-width;
        height: @small-panel-height;
        font-size: 14px;
      }

      &.small-bottom {
        top: @small-panel-height + @small-panel-vertical-space;
        left: @main-width + @column-gap;
        width: @right-col-width;
        height: @small-panel-height;
        font-size: 14px;
      }
      .view-manager{
        margin: 0 auto 0;
      }
      .form-control{
        padding-top: 3px;
        padding-bottom: 3px;
        padding-left: 6px;
      }
    }

  &.narrow{
    width: @sim-width-narrow;
    height: @sim-height-narrow;

    .grasp-seasons {
        width: @sim-width-narrow;

        &.main {
          width: @main-width-narrow;
          height: @main-height-narrow;
        }

        &.small-top {
          left: @main-width-narrow + @column-gap-narrow;
          width: @right-col-width-narrow;
          height: @small-panel-height-narrow;
        }

        &.small-bottom {
          top: @small-panel-height-narrow + @small-panel-vertical-space-narrow;
          left: @main-width-narrow + @column-gap-narrow;
          width: @right-col-width-narrow;
          height: @small-panel-height-narrow;
        }

      .view{
        &.main{
          width: @main-width-narrow;
          height: @main-height-narrow;
        }
        &.small-top{
          width: @right-col-width-narrow;
          height: @small-panel-height-narrow;
          left: @main-width-narrow + @column-gap-narrow;
        }
        &.small-bottom{
          width: @right-col-width-narrow;
          height: @small-panel-height-narrow;
          left: @main-width-narrow + @column-gap-narrow;
          top: @small-panel-height-narrow + @small-panel-vertical-space-narrow;
        }
      }
      .view-select{
        &.small-top{
          left: @main-width-narrow + @column-gap-narrow + 5;
        }
        &.small-bottom{
          left: @main-width-narrow + @column-gap-narrow + 5;
          top: @small-panel-height-narrow + @small-panel-vertical-space-narrow + 5;
        }
      }
    }
    .view-manager{
      width: @sim-width-narrow;
      height:@main-height-narrow + 5;
    }
    .controls{
      width: @sim-width-narrow;
      .left-col{
        width: 475px;
      }
      .right-col{
        margin-right:10px;
      }
      .day{
        margin-left: 80px;
        font-size: 1.4em;
      }
      .day-slider{
        width: 475px;
        padding: 10px 0 10px;
      }
    }
    .top-links{
      margin-right:10px;
    }
  }
}

.simulation.seasons, .simulation.seasonsnarrow{
    position: absolute;
    overflow: hidden;
    top: 80px;
    left: 0px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    height: 100%;
    margin: 0;
    div > h1{
      margin-left:2px;
    }
    .detail-toggle-switches{
      margin-right:30px;
    }
    &.headless{
      top:0px;
    }
    .top-links{
      margin-right:5px;
    }
    .handOrbitOverlay{
      position: absolute;
      top:0;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%);
      -webkit-filter: grayscale(100%) brightness(180%); /* Safari 6.0 - 9.0 */
      filter: grayscale(100%) brightness(180%);
      opacity: 0.7;
      width:100%;
      height:100%;
    }
}
.simulation .seasonsnarrow{
    h1{
      margin-left:20px;
    }

}
  .active-view-selector{
    position:absolute;
    color:white;
    @selector-width: 100px;
    label{
      position: absolute;
      width:@selector-width;
      text-align: right;
      > input {
        visibility:hidden;
        position:absolute;
      }
      > input + i{
        color:lightgrey;
      }
      > input:hover + i{
        color:white;
      }
      > input:checked + i{
        color:green;
      }

      &.main{
        left: @main-width - @selector-width;
      }
      &.small-top{
        left: @main-width + @column-gap + @right-col-width - @selector-width;
      }
       &.small-bottom{
        left: @main-width + @column-gap + @right-col-width - @selector-width;
        top: @small-panel-height + @small-panel-vertical-space;
      }
    }
    &.narrow{
      label{
        &.main{
          left: @main-width-narrow - @selector-width;
        }
        &.small-top{
          left: @main-width-narrow +  @column-gap-narrow + @right-col-width-narrow - @selector-width;
        }
        &.small-bottom{
          left: @main-width-narrow +  @column-gap-narrow + @right-col-width-narrow - @selector-width;
          top: @small-panel-height-narrow + @small-panel-vertical-space-narrow;
        }
      }
    }

  }

  .debug{
    position:fixed;
    left:200px;
    font-size:12px;
    margin-top:-10px;
    top:0px;
    div{
      width:200px;
      float:left;
    }
  }