.overlay {
  &.grasp-seasons {
    position: absolute;
    background-color: transparent;
    text-align: center;

    &.main {
      top: 10px;
      left: 13px;
    }
    &.small-top {
      top: 10px;
      left: 818px;
    }
    &.small-bottom {
      top: 315px;
      left: 818px;
    }
    .hands-view {
      background-color: transparent;
    }
    .instructions {
      top: auto;
      bottom: 0;
      margin-bottom: 4px;
      font-size: 1.3em;
      padding: 3px 10px 3px 3px;
      text-shadow: -1px -1px 0 #000,
                   1px -1px 0 #000,
                   -1px 1px 0 #000,
                   1px 1px 0 #000;
    }
  }
}
