body{
  margin: 0;
  border: 0;
  background-color: #a0cdd2;
}
.simulation{
  margin: 110px 10px 10px 10px;
}
.header{
  position: fixed;
  top:0px;
  height:100px;
  width:100%;
  background-color: white;
  .projectlogo{
    position: fixed;
    top:10px;
    left:40px;
    height:80px;
  }
  .cclogo{
    position: fixed;
    top:0px;
    right:40px;
    height:100px;
  }
  .illogo{
    position: fixed;
    top: 18px;
    right: 300px;
  }
}