.overlay {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: rgba(200, 200, 200, 0.5);
  pointer-events: none;
  transition: opacity 1.5s, visibility 1.5s;
  text-align: center;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .instructions {
    position: absolute;
    top: 75%;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 10px #000;
    color: white;
    font-size: 1.2em;
  }
}
