.hands-view {
  background-color: #EAEAEA;
  border-radius: 5px;
  display: inline-block;
  height:100% !important;
  margin: 0;
  opacity: .9;
  vertical-align: top;
  width: 100% !important;
}
.state-msg {
  width: 300px;
  height: 125px;
  background-color: #EAEAEA;
  padding: 5px;
  border-radius: 5px;
  margin: 0;
}
.state-msg p {
  margin: 0 0 0 5px;
}
.state-and-plotter {
  display: inline-block;
}
